{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{%  block body %}
  <h1>hello world from twig!</h1>

  {% if flg %}
    {% for num in nums %}
      {{ message }} world {{ num }}
    {% endfor %}
  {% endif %}
{% endblock %}
