{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
  <h1>hello world</h1>

  <ul>
    {% for todo in todoList %}
      <li>{{ todo.id }} - {{ todo.todo }}</li>
    {% endfor %}
  </ul>

{% endblock %}
